"dependencies": {
  "@commitlint/cli": "latest",
  "@commitlint/config-conventional": "latest",
  "husky": "latest"
},
"husky": {
  "hooks": {
    "commit-msg": "commitlint -E HUSKY_GIT_PARAMS"
  }
}
