@import '../styles/theme';

.toolbar {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: mat-color($radio-plays-primary);
  color: white;
  font-weight: 600;
  padding: 0 5px;
}

.content {
  display: flex;
  margin: 32px auto;
  padding: 0 16px;
  max-width: 960px;
  flex-direction: column;
}

a,
a:visited,
a:hover {
  color: mat-color($mat-purple);
  text-decoration: none;
}

a:hover {
  color: #125699;
}
