ul {
  float: left;

  li {
    display: inline;

    &:not(:first-child):before {
      display: inline-block;
      content: "|";
      padding-right: 10px;
    }

    &:not(:first-child) {
      margin-left: 10px;
    }
  }
}

