<nav>
  <ul *ngIf="!isAuthenticated; else loggedIn" class="navbar">
    <li><a routerLink="/login" routerLinkActive="active">Login</a></li>
  </ul>
  <ng-template #loggedIn>
  <ul class="navbar">
    <li><a routerLink="/homepage" routerLinkActive="active">Homepage</a></li>
    <li class="subnav">Speakers
      <ul class="subnav-content">
        <li>
          <a routerLink="/speaker/list" routerLinkActive="active">List speakers</a>
        </li>
        <li>
          <a routerLink="/speaker/create">Create speaker</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="#" (click)="logout()">Logout</a>
    </li>
  </ul>
  </ng-template>
</nav>
