<div class="speaker-table">
<table mat-table [dataSource]="speakerList" multiTemplateDataRows>

  <ng-container matColumnDef="Firstname">
    <th *matHeaderCellDef>Firstname</th>
    <td
      *matCellDef="let speaker">{{ speaker.firstname }}
    </td>
  </ng-container>

  <ng-container matColumnDef="Lastname" >
    <th *matHeaderCellDef>Lastname</th>
    <td
      *matCellDef="let speaker">{{speaker.lastname}}
    </td>
  </ng-container>

  <ng-container matColumnDef="Action">
    <th *matHeaderCellDef class="description-cell">Action</th>
    <td *matCellDef="let element" class="description-cell">
      <div>
        <a (click)="expandedElement = expandedElement === element ? null : element">Edit</a> |
        <a (click)="actionOnRow('Delete',element, $event)">Delete</a>
      </div>
    </td>
  </ng-container>

  <!-- Expanding Edit Speaker form -->
  <ng-container matColumnDef="expandEditSpeaker">
    <td  *matCellDef="let element;" [attr.colspan]="displayedColumns.length">
      <div class="speaker-edit-row-detail"
        [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
          <app-speaker-edit [speaker]="element"></app-speaker-edit>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row
    *matHeaderRowDef="displayedColumns; sticky:true"></tr>

  <tr mat-row
    *matRowDef="let element; columns: displayedColumns"
    [class.example-expanded-row]="expandedElement === element">
  </tr>

  <!-- Expanding Edit Speaker form -->
  <tr mat-row *matRowDef="let row; columns: ['expandEditSpeaker']" class="speaker-edit-row"></tr>

</table>
</div>
<!-- /.speaker-table -->
