<!--<div *ngIf="speakers" class="flex-container">
  <div *ngFor="let speaker of speakers | keyvalue" class="flex-item">
    <div>{{ speaker.value.firstname }} {{ speaker.value.lastname }}</div>
    <div class="actions">
      <a routerLink="../{{speaker.value.id}}/edit">Edit</a>
    </div>
  </div>
</div>
-->
<mat-table class="speaker-table" [dataSource]="dataSource">

  <ng-container matColumnDef="Firstname" sticky=true>
    <div *matHeaderCellDef
      class="description-cell">Firstname</div>
    <div class="description-cell"
      *matCellDef="let speaker">{{ speaker.firstname }}</div>
  </ng-container>

  <ng-container matColumnDef="Lastname" sticky=true>
    <div *matHeaderCellDef
      class="description-cell">Lastname</div>
    <div class="description-cell"
      *matCellDef="let speaker">{{speaker.lastname}}</div>
  </ng-container>

  <ng-container matColumnDef="Aliases" sticky=true>
    <div *matHeaderCellDef
      class="description-cell">Aliases</div>
    <div class="description-cell"
      *matCellDef="let speaker"><span *ngFor="let alias of speaker.aliases">{{ alias.name }}</span></div>
  </ng-container>

  <!-- Action Column -->
  <ng-container matColumnDef="Action">
    <div *matHeaderCellDef class="description-cell">Action</div>
    <div *matCellDef="let element" class="description-cell">
      <a (click)="actionOnRow('Edit',element)">Edit</a> |
      <a (click)="actionOnRow('Delete',element)">Delete</a>
    </div>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>

  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>



</mat-table>
