.speaker-table {
  border: 1px solid #efefef;
  height: 340px;
  overflow: auto;

  table {
    position: relative;
    top: 0;
    border-collapse: collapse;
    width: 100%;
    z-index: 0;
  }

  th {
    background-color: #efefef;
  }

  tr {
    td {
      border-bottom: 1px solid #efefef;
      padding: 10px;
    }
  }
  .speaker-edit-row {
    td {
      border: 0;
    }
  }
}

.speaker-edit-row {
  height: 0; // Overwriting material css
}

.speaker-edit-row-detail {
  overflow: hidden;
}
