.speaker-table {
  border: 1px solid #efefef;
  height: 220px;
  overflow: auto;
  width: 100%;
}

.mat-header-row {
  background-color: #efefef;
  border-bottom-color: rgba(0,0,0,.12);
}

.mat-header-row,
.mat-row {
  //padding: 2px 5px;
  //justify-content: space-between;
}

.speaker-edit-row {
  height: 0; // Overwriting material css
}

.speaker-edit-row-detail {
  overflow: hidden;
}

.mat-table-sticky {
  position: sticky;
  top: 0;
  z-index: 1;
}
