.speaker-table {
  border: 1px solid #efefef;
  height: 150px;
  overflow: auto;

  table {
    position: relative;
    top: 0;
    //border-collapse: collapse;
    width: 100%;
  }

  th {
    background-color: #efefef;
  }

  tr {
    td {
      border-bottom: 1px solid #efefef;
    }
  }

  .speaker-edit-row {
    td {
      border: 0;
    }
  }
}

.custom-table {
  border-collapse: separate;
  border-spacing: 0;
}

.speaker-edit-row {
  height: 0; // Overwriting material css
}

.speaker-edit-row-detail {
  overflow: hidden;
}

.mat-table-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
}
